<!-- MAIN -->
    <main role="main">
      <article>

        <header class="section background-image text-center" style="background-image:url(img/img-05.jpg)">

        </header>

        <div class="container">
          <form id="contact" action="/log-in" method="post">
            <h4 style="color:red">{{status}}</h4>
            <fieldset>
              <input placeholder="User name" type="text" name="username" tabindex="9" required>
            </fieldset>
            <fieldset>
              <input placeholder="Pass word" type="text" name="password" tabindex="10" required>
            </fieldset>
            <!-- <fieldset>
              <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
            </fieldset> -->
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Log in</button>
            </fieldset>
            <p class="copyright"> Not have yet an account ? <a href="/sign-up" target="_self"> Register here  </a></p>
          </form>
        </div>


</div>




      </article>

    </main>
