<!-- MAIN -->
    <main role="main">
      <article>    
        <!-- Header -->
        <header class="section background-image text-center" style="background-image:url(img/error.jpg)">
          <h1 class="animated-element slow text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-30 margin-top-130">
            Not available right now!   
          </h1>
          <p class="animated-element text-white">We'll update later <br>
            Be patient !</p>
          
          
        </header>
        
             
    </main>