    
    <!-- MAIN -->
    <main role="main">
      <article>    
        <!-- Header -->
        <header class="section background-image text-center" style="background-image:url(img/carousel-02.jpg)">
          <h1 class="animated-element slow text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-30 margin-top-130">
            Our Services
          </h1>
          <p class="animated-element text-white">We'll try my best to give you the best services </p>
          
          <!-- white full width arrow object -->
          <img class="arrow-object" src="img/arrow-object-white.svg" alt="">
        </header>
        
        <!-- Section 1 -->
        <section class="section background-white">      
          <div class="line">
            <div class="margin2x">
                        
              <div class="m-12 l-6 margin-bottom-60">
                <div class="float-left">
                  <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Service Name</h3>
                  <p>
                    Features of this service 
                    
                    <p class="text-padding-small background-primary text-white s-12 margin-top-bottom-20">More Features</p>                    
                     
                    Recommended features
                  </p>                                                      
                </div>
              </div>
              
              <div class="m-12 l-6 margin-bottom-60">
                <div class="float-left">
                  <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Service Name</h3>
                  <p>
                    Features of this service 
                    
                    <p class="text-padding-small background-primary text-white s-12 margin-top-bottom-20">More Features</p>                    
                     
                    Recommended features
                  </p>                                                      
                </div>
              </div>
              
              <div class="m-12 l-6 margin-bottom-60">
                <div class="float-left">
                  <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Service Name</h3>
                  <p>
                    Features of this service 
                    
                    <p class="text-padding-small background-primary text-white s-12 margin-top-bottom-20">More Features</p>                    
                     
                    Recommended features
                  </p>                                                      
                </div>
              </div>
              
              <div class="m-12 l-6 margin-bottom-60">
                <div class="float-left">
                  <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20">Service Name</h3>
                  <p>
                    Features of this service 
                    
                    <p class="text-padding-small background-primary text-white s-12 margin-top-bottom-20">More Features</p>                    
                     
                    Recommended features
                  </p>                                                      
                </div>
              </div>                                                                                    
              
            </div>
          </div>       
        </section>
      </article>
      
      <!-- Section 2 -->
      <section class="section background-dark">
        <div class="line text-center">
          <i class="icon-sli-heart text-primary text-size-40"></i>
          <h2 class="text-size-50 text-m-size-40"><b>Top</b> Services</h2>
          <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">    
          <div class="carousel-default owl-carousel carousel-wide-arrows">
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <div class="text-primary margin-bottom"><i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i></div>
                <p class="margin-bottom">Description (update later)  </p>
                <p class="text-primary text-size-16"><strong>Start-up Star</strong> / Small Bussiness / Builder</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <div class="text-primary margin-bottom"><i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i></div>
                <p class="margin-bottom">Description </p>
                <p class="text-primary text-size-16"><strong>Maker</strong> / Small Bussiness / Company</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <div class="text-primary margin-bottom"><i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i> <i class="icon-star text-size-12"></i></div>
                <p class="margin-bottom">Description 3</p>
                <p class="text-primary text-size-16"><strong>Co-founder</strong> / Big Project / Big Dream</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section 4 -->
      <section class="section-small-padding background-white text-center">
        <div class="line">
          <div class="s-12 m-12 l-9 center margin-bottom-30">
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-10">Help Center</h3>
            <p>If you don't know how to use our services. Please contact us , we'll help you </p>
          </div>
        </div>            
        <div class="line">  
          <div class="s-12 m-12 l-3 center">
            <a href="contact.html" class="s-12 button border-radius background-primary text-size-20 text-white">Contact Us</a>
          </div>
        </div>
      </section>        
    </main>
    
  